body {		
	padding-top: 130px; 
}

header {

	&.header{
		padding: 1em 0;
	}		

	> .content {
		position: relative;
		max-width: 82rem;
		min-height: 100%; /* moved from .container */
		margin: 0 auto;
		padding: 0;	
	}

}

/* overlay */

.overlay {

  	width: 100%;
  	height: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 0;
  	background: #000; /* default */
  	opacity: 0;
  	filter: alpha(opacity=75);  	
	-webkit-transition: opacity .6s;  
    transition: opacity .6s;

	&.active {  	
		z-index: 2;
		opacity: 0.75;
		-webkit-transition: opacity .6s;  
	    transition: opacity .6s;
	}

}


/* header main menu */

.nav {

	padding: 0 10px;
	line-height: 2.25;

	a {
		font-weight: bold;
		display: inline-block;	
		margin: 0 10px;
		color: $clr-white;
		transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;

		&:hover {	
			cursor: pointer;
			color: $clr-dark-alpha;			
		}

		&:focus {	
			cursor: pointer;
			color: $clr-dark-alpha;			
		}

	}

}

.button-menu {

    position: relative;
    width: 40px;
    height: 35px;
    display: none;
    border: 2px solid $clr-teal-light; 
    background: transparent;
    padding: 4px;
    right: 15px;

	span {
	    position: relative;
	    display: block;
	    height: 4px;
	    padding: 0;
	    margin: 3px 0;
	    background: $clr-teal-light;
	}
}

.content-menu {

	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	height: 100%;	
	padding: 80px 30px;
    text-align: right;
	background: $clr-teal;	
	z-index: 2;	
	-webkit-transition: right .4s;  
    transition: right .4s;

	&.active {	
		-webkit-transition: right .4s;  
	    transition: right .4s;	
		right: 0;
	}

	a{
		display: block;
		padding: 20px 0px;    	
		text-align: left;
	}

}


@media screen and (max-width: 50em) {

	.nav {
		display: none;		
	}

	.button-menu {    	
    	display: block;
	}
	
}