<template>

	<div class="content">

		<section class="section">
			<div class="grid">
				<div class="grid__item width--half">
					<div class="bkg-lightblue height-640">
					</div>							
				</div>
				<div class="grid__item width--half">
					<div class="bkg-lightblue height-310"></div>
					<div class="bkg-lightblue height-310"></div>
				</div>
			</div>					
		</section>

		<section class="section">
			<div class="grid">
				<div class="grid__item">
					<div class=" bkg-lightblue height-310">
						
					</div>							
				</div>						
			</div>					
		</section>				

		<section class="section">
			<div class="grid">

				<!-- <h2 class="heading heading--single">Custom solutions</h2> -->

				<div class="grid__item width--double-third">

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>			
						
						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Reactive tools 12</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>	

						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Invisible guides</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>	

						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Fancy other stuff</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>			
						
						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Reactive tools</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>	

						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Invisible guides</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="grid__sub-item">
						<div class="col thumb">
							<div class="img"><i class="fa fa-picture-o"></i></div>
						</div>	

						<div class="col thumb__block--inline">
							<div class="description">
								<p>CHAMADA</p>
								<h3 class=" ">Fancy other stuff</h3>
								<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								<p>HÁ 49 MINUTOS EM CATEGORIA</p>
							</div>
						</div>
					</div>

				</div>

				<div class="grid__item width--third">

					<div class="grid__sub-item">
						<div class="aside__widget">
							<h3 class="heading heading--box"><span>tabela</span></h3>
							<div class="bigtext"><span>Campeonato Brasileiro</span></div>
							<div class="sub-heading">
								<span class="">Times</span>
								<span class="">Pontuação</span>
							</div>
							<div class="list-wrap ">
								<ul class="list  ">
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited brands</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
									<li><i class="fa fa-picture-o"></i><span>Unlimited projects</span></li>
									<li><i class="fa fa-picture-o"></i><span>Full toolset</span></li>
								</ul>
							</div>

							<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s centered" data-text="Sing Up"><span>VEJA A TABELA COMPLETA</span>
							</button>

							<div class="clearfix"></div>
						</div>					
					</div>

					<div class="grid__sub-item">
						<div class="aside__widget">
							<h3 class="heading heading--box"><span>videos</span></h3>
															
							<div class="list-wrap video">
								<ul class="list">

									<li><div class="img"><i class="fa fa-play-circle"></i></div></li>

									<li>
										<div class="col thumb">
											<div class="img minor"><i class="fa fa-play-circle"></i></div>
										</div>	

										<div class="col thumb__block--inline">
											<div class="description widget">
												<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>
										<div class="clearfix"></div>
									</li>

									<li>
										<div class="col thumb">
											<div class="img minor"><i class="fa fa-play-circle"></i></div>
										</div>	

										<div class="col thumb__block--inline">
											<div class="description widget">
												<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>
										<div class="clearfix"></div>
									</li>

									<li>
										<div class="col thumb">
											<div class="img minor"><i class="fa fa-play-circle"></i></div>
										</div>	

										<div class="col thumb__block--inline">
											<div class="description widget">
												<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>
										<div class="clearfix"></div>				
									</li>

									<li>
										<div class="col thumb">
											<div class="img minor"><i class="fa fa-play-circle"></i></div>
										</div>	

										<div class="col thumb__block--inline">
											<div class="description widget">
												<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>
										<div class="clearfix"></div>	
									</li>

									<li>
										<div class="col thumb">
											<div class="img minor"><i class="fa fa-play-circle"></i></div>
										</div>	

										<div class="col thumb__block--inline">
											<div class="description widget">
												<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
											</div>
										</div>
										<div class="clearfix"></div>
									</li>

								</ul>
							</div>

							<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s centered" data-text="Sing Up"><span>VEJA TODOS OS VIDEOS</span>
							</button>

							<div class="clearfix"></div>
						</div>					
					</div>

					<figure class="grid__sub-item">
						<div class="img"><i class="fa fa-picture-o"></i></div>
						<figcaption class="caption caption--box">
							<h3 class=" ">Fancy other stuff</h3>
							<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</figcaption>
					</figure>

				</div>
				
			</div>

		</section>

	</div>

</template>