@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo';
	src:url('../fonts/controls/entypo.eot');
	src:url('../fonts/controls/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/controls/entypo.woff') format('woff'),
		url('../fonts/controls/entypo.ttf') format('truetype'),
		url('../fonts/controls/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
		url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ACROTSRG';	
	src:url('../fonts/ACROTSRG.ttf') format('truetype')
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Exo-DemiBold';	
	src:url('../fonts/Exo-DemiBold.otf') format('opentype')
}


@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'OpenSans Regular';	
	src:url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'OpenSans Bold';	
	src:url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype')
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'OpenSans Light';	
	src:url('../fonts/opensans/OpenSans-Light.ttf') format('truetype')
}

/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../vendor/mdl-icons/iconfont/MaterialIcons-Regular.eot); 
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../vendor/mdl-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../vendor/mdl-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../vendor/mdl-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}*/

/*.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;  
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
  -moz-osx-font-smoothing: grayscale;  
  font-feature-settings: 'liga';
}*/


/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}