<template>

	<div class="content">

		<section class="section">
			<div class="grid">
				<div class="grid__item width--half">
					<h3 class="heading heading--large  ">We help tell your brand's story 1<span class="heading__subline">The most efficient toolset for businesses</span></h3>
					
					<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s" data-text="Discover now"><span>Discover more</span></button>

				</div>
				<figure class="grid__item width--half">
					<div class="img img--large">
						<i class="fa fa-picture-o"></i>
					</div>
				</figure>
			</div><!-- /grid -->
		</section>

		<section class="section bkg-lightblue">
			<div class="grid">
				<h2 class="heading heading--single">Custom solutions</h2>
				<figure class="grid__item width--third">
					<div class="img"><i class="fa fa-picture-o"></i></div>
					<figcaption class="caption caption--box">
						<h3 class=" ">Reactive tools</h3>
						<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</figcaption>
				</figure>
				<figure class="grid__item width--third">
					<div class="img"><i class="fa fa-picture-o"></i></div>
					<figcaption class="caption caption--box">
						<h3 class=" ">Invisible guides</h3>
						<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</figcaption>
				</figure>
				<figure class="grid__item width--third">
					<div class="img"><i class="fa fa-picture-o"></i></div>
					<figcaption class="caption caption--box">
						<h3 class=" ">Fancy other stuff</h3>
						<p class=" ">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</figcaption>
				</figure>
			</div><!-- /grid -->
		</section>

		<section class="section">
			<div class="grid">
				<div class="grid__item">
					<blockquote class="blockquote">
						<p class=" ">There are two types of people who will tell you that you cannot make a difference in this world: those who are afraid to try and those who are afraid you will succeed.</p>
						<footer class=" ">Ray Goforth</footer>
					</blockquote>
				</div>
			</div><!-- /grid -->
		</section>

		<section class="section bkg-lightblue philosopy">
			<div class="grid">
				<h2 class="heading heading--single  ">Our philosophy</h2>
				<figure class="grid__item width--half">
					<div class="img img--large"><i class="fa fa-picture-o"></i></div>
				</figure>
				<div class="grid__item width--half">
					<p class=" ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s" data-text="Read now"><span>Read more</span>
					</button>

				</div>
			</div><!-- /grid -->
		</section>

		<section class="section ">
			<div class="grid">
				<h2 class="heading heading--single  ">Meet the amazing team</h2>
				<figure class="grid__item width--forth">
					<div class="img"><i class="fa fa-user"></i></div>
					<figcaption class="caption"><h3 class=" ">Jerry McIntosh</h3></figcaption>
				</figure>
				<figure class="grid__item width--forth">
					<div class="img"><i class="fa fa-user"></i></div>
					<figcaption class="caption"><h3 class=" ">Ben McLovin</h3></figcaption>
				</figure>
				<figure class="grid__item width--forth">
					<div class="img"><i class="fa fa-user"></i></div>
					<figcaption class="caption"><h3 class=" ">Sarah Connor</h3></figcaption>
				</figure>
				<figure class="grid__item width--forth">
					<div class="img"><i class="fa fa-user"></i></div>
					<figcaption class="caption"><h3 class=" ">Fred Guhlman</h3></figcaption>
				</figure>
			</div><!-- /grid -->
		</section>

		<section class="section bkg-lightblue product">
			<div class="grid">
				<h2 class="heading heading--single  ">Learn about our product</h2>
				<figure class="grid__item width--half">
					<div class="img img--large"><i class="fa fa-picture-o"></i></div>
				</figure>
				<div class="grid__item width--half">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s" data-text="Read now"><span>Read more</span>
					</button>

				</div>
			</div><!-- /grid -->
		</section>

		<section class="section">
			<div class="grid">
				<h2 class="heading heading--single  ">From the blog</h2>
				<figure class="grid__item width--half">
					<div class="img"><i class="fa fa-file-text-o"></i></div>
					<figcaption class="caption caption--box ">
						<h3>Reactive tools</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</figcaption>
				</figure>
				<figure class="grid__item width--half">
					<div class="img"><i class="fa fa-file-text-o"></i></div>
					<figcaption class="caption caption--box ">
						<h3>Invisible guides</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</figcaption>
				</figure>
			</div><!-- /grid -->
		</section>

		<section class="section bkg-lightblue" style="margin-bottom: 80px;">

			<div class="grid">

				<h2 class="heading heading--single">Pricing</h2>

				<figure class="grid__item width--third">
					<div class="pricing ">
						<h3 class="heading heading--box"><span>Basic</span></h3>
						<div class="bigtext"><span>$39</span></div>
						<div class="list-wrap ">
							<ul class="list  ">
								<li>1 brand</li>
								<li>10 projects</li>
								<li>Basic toolset</li>
							</ul>
						</div>

						<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s centered" data-text="Sing Up"><span>Sing Up</span>
						</button>

						<div class="clearfix"></div>
					</div>								
				</figure>

				<figure class="grid__item width--third">
					<div class="pricing ">
						<h3 class="heading heading--box"><span>Professional</span></h3>
						<div class="bigtext"><span>$99</span></div>
						<div class="list-wrap ">
							<ul class="list  ">
								<li>10 brands</li>
								<li>50 projects</li>
								<li>Advanced toolset</li>
							</ul>
						</div>

						<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s centered" data-text="Sing Up"><span>Sing Up</span>
						</button>

						<div class="clearfix"></div>
					</div>								
				</figure>

				<figure class="grid__item width--third">
					<div class="pricing ">
						<h3 class="heading heading--box"><span>Premium</span></h3>
						<div class="bigtext"><span>$199</span></div>
						<div class="list-wrap ">
							<ul class="list  ">
								<li>Unlimited brands</li>
								<li>Unlimited projects</li>
								<li>Full toolset</li>
							</ul>
						</div>

						<button class="button button--rayen button--border-thin button--text-thick button--text-upper button--size-s centered" data-text="Sing Up"><span>Sing Up</span>
						</button>

						<div class="clearfix"></div>
					</div>								
				</figure>

			</div>

		</section>

	</div>

</template>