<template>

	<div class="content">

		<section class="section">

			<div class="grid">
				<div class="grid__item width--half">
					<div class=" bkg-teal height-640">
					</div>							
				</div>
				<div class="grid__item width--half">
					<div class="bkg-gray height-310"></div>
					<div class="bkg-gray height-310"></div>
				</div>
			</div>

			<div class="grid">
				<div class="grid__item">
					<div class=" bkg-teal height-310">
					</div>							
				</div>
			</div>

			<div class="grid">
				<div class="grid__item width--third">
					<div class=" bkg-gray height-310">
					</div>							
				</div>
				<div class="grid__item width--third">
					<div class=" bkg-teal height-310">
					</div>							
				</div>
				<div class="grid__item width--third">
					<div class=" bkg-gray height-310">
					</div>							
				</div>
			</div>

			<div class="grid">
				<div class="grid__item width--forth">
					<div class=" bkg-gray height-310">
					</div>							
				</div>
				<div class="grid__item width--forth">
					<div class=" bkg-teal height-310">
					</div>							
				</div>
				<div class="grid__item width--forth">
					<div class=" bkg-gray height-310">
					</div>							
				</div>
				<div class="grid__item width--forth">
					<div class=" bkg-teal height-310">
					</div>							
				</div>
			</div>

			<div class="grid">
				<div class="grid__item width--double-third">
					<div class=" bkg-gray height-310">
					</div>							
				</div>						
				<div class="grid__item width--third">
					<div class=" bkg-teal height-310">
					</div>							
				</div>
			</div>

		</section>	

	</div>					

</template>