<template> 

  <div class="content">


    <!-- top banner -->
    <section class="section-top">

      <div class="grid justify-center align-items--center">
      
          <div class="grid__item half">

              <img src="static/images/logo-contaazul.png" class="width third center d_block" alt="Conta Azul">

              <h1 class="heading calling"> 
                Integração Cota Azul + Vnda<br>
                <small>Todas as vendas do seu site atualizadas diretamnete no seu portal Conta Azul</small>  
              </h1>

              <form id="newsform" class="news center d_block" novalidate>                     
                  <input type="email" id="newsReceiveEmail" name="newsReceiveEmail" class="newsletter" placeholder=" ENDEREÇO DE EMAIL "/>
                  <input type="submit" class="send-news mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Mais informações"/>               
              </form>  

              <!-- <div class="panels"> -->
                
                <div class="owl-panels owl-carousel owl-theme" id="owl-panels"> 

                    <div class="item"> <img src="static/images/panel-1.png"> </div>
                    <div class="item"> <img src="static/images/panel-2.png"> </div>
                    <div class="item"> <img src="static/images/panel-3.png"> </div>
                    <div class="item"> <img src="static/images/panel-4.png"> </div>

               <!--  </div> -->

              </div> 

               

          </div>    

      </div> 

    </section> 


    <div class="container">


      <section class="section-optimize">

        <div class="grid overflow">

          <div class="grid__item half">

            <h2 class="heading">
              Otimize o seu tempo integrando <br>
              a sua plataforma de eCommerce <br>
              e ERP financeiro.
            </h2>

            <h3 class="heading"> Atualização de pedidos </h3>
            <p>Toda compra finalizada no seu eCommerce é enviada para o App Conta Azul automaticamente.</p>

            <h3 class="heading"> Integração de estoque </h3>
            <p>O seu estoque de produto na Vnda é atualizado assim que um pedido é faturado no seu App Conta Azul.</p>

            <h3 class="heading"> Mapeamento de dados </h3>
            <p>Caso o seu cadastro na Conta Azul possua alguma informação diferente do cadastro de produtos feito no eCommerce, temos um mapeamento de dados, não sendo necessário nenhum trabalho manual para correções.</p>
            
          </div>

           <div class="grid__item half wow fadeInRight"  data-wow-duration="1s" data-wow-delay="0s"></div>  
          <!--<div id="notebook" class="grid__item half wow" data-wow-offset="370" data-wow-duration="1s"></div>   -->

        </div> 

      </section>    


      <section class="section-thumbs">

        <div class="grid">

          <div class="grid__item forth thumbs">
            <!--  <img src="static/images/send.png" class="center d_block" alt="send"> -->
			      <figure class="thumb"><i class="icon-send"></i></figure>
            <p>Melhore a sua <span>eficiência</span> diária no acompanhamento financeiro da loja.</p>            
          </div>

          <div class="grid__item forth thumbs">
            <!-- <img src="static/images/links.png" class="center d_block" alt="links"> -->
             <figure  class="thumb"><i class="icon-shopping_cart"></i></figure>
            <p>Suas vendas <span>automaticamente</span> enviadas para o App Conta Azul.</p>            
          </div>

          <div class="grid__item forth thumbs">
            <!-- <img src="static/images/notes.png" class="center d_block" alt="notes"> -->
             <figure  class="thumb"><i class="icon-stock"></i></figure>
            <p>Integre seu estoque com o seu ERP e <span>não se preocupe</span> com possíveis divergências.</p>            
          </div>

          <div class="grid__item forth thumbs">
            <!-- <img src="static/images/layers.png" class="center d_block" alt="layers"> -->
             <figure  class="thumb"><i class="icon-tables"></i></figure>
            <p>Mapeie qualquer <span>diferença de cadastro</span> entre o app Conta Azul e admin Vnda.</p>            
          </div>          

        </div> 

      </section> 

    </div>


      <section class="section-articles">

        <div class="container">

          <div class="grid">

            <div class="grid__item">

               <h2 class="heading">  Artigos para você entender mais: </h2>
              
            </div>

            <div class="grid__item third">

              <div class="article-card">
                
                <h3 class="article-card--header"> Integração Conta Azul </h3>
               
                <h5 class="article-card--body"> Este artigo dará o passo a passo para
                integração de sincronia de pedidos
                confirmados e estoque com o ERP Conta Azul</h5>

                <span class="article-card--footer">
                 
                    <figure class="user"><i class="icon-user"></i></figure>
                 
                    <p>Escrito por Fernanda Rohan</p>
                    <p>Atualizado há mais de uma semana</span>
                  
                </span>
                
              </div>
              
            </div>  

          </div> 

        </div>

      </section>


      <div class="container">

        <section class="section-faq">

          <div class="grid">

            <div class="grid__item">

              <h2 class="heading">Perguntas frequentes:</h2>  

        				<div class="panel">

        				    <details>
        				        <summary>
                            <figure class="add_circle"><i class="icon-add_circle"></i></figure>
        				            <h3 class="heading faq"> Quais funções da integração com o Conta Azul?</h3>
        				        </summary>
        				        <div class="content tween__in-out">
        				             <p>Integrando o seu ERP financeiro Conta Azul com a Vnda você terá seus pedidos e estoque integrados entre as duas ferramentas, otimizando seu tempo e tendo seus controles sempre atualizados.</p>
        				        </div>
        				    </details>

        				    <details>
        				        <summary>
                            <figure class="add_circle"><i class="icon-add_circle"></i></figure>
        				             <h3 class="heading faq"> Não possuo controle estoque de produtos no Conta Azul, isso irá interferir no estoque cadastrado na Vnda?</h3>
        				        </summary>
        				        <div class="content tween__in-out">
        				             <p>Você pode optar por não integrar a automatização de estoque. Uma vez que a informação de quantidade de produtos estocados vem da Conta Azul, é muito importante garantir que seu estoque na CA esteja atualizado ou desativar essa automatização.</p>
        				        </div>
        				    </details>

        				    <details>
        				        <summary>
                            <figure class="add_circle"><i class="icon-add_circle"></i></figure>
        				            <h3 class="heading faq"> A referência dos meus produtos cadastrados no Conta Azul é diferente da que cadastrei na Vnda, preciso ajustar para integrar?</h3>
        				        </summary>
        				        <div class="content tween__in-out">
        				           <p>A Vnda possui mapeamento dos seguintes dados: meio de pagamento, tipo de entrega, produto, ransportadora. Sendo assim alinhados esses dados entre as duas plataformas para você não ter que fazer ajustes manuais.</p> 
        				        </div>
        				    </details>

        				    <details>
        				        <summary>
                            <figure class="add_circle"><i class="icon-add_circle"></i></figure>
        				            <h3 class="heading faq"> É cobrado algum valor adicional para realizar a integração?</h3>
        				        </summary>
        				        <div class="content tween__in-out">
        				             <p>Não! A integração é gratuita e realizada pelo atendimento Vnda. Basta enviar e-mail para ajuda@vnda.com.br e seguiremos com os procedimentos necessários para ter suas ferramentas integradas.</p>              
        				        </div>
        				    </details>				   
        				    
        				</div>

            </div>

          </div> 

        </section>

      </div>   

    </div>

 

</template>