<template> 

  <div class="content">


    <!-- top banner -->
    <section class="section-top">

      <div class="grid justify-center align-items--center">
      
          <div class="grid__item half">

              <img src="static/images/logo-contaazul.png" class="width third center d_block" alt="Conta Azul">

              <h1 class="heading calling"> 
                Todas as vendas do seu site atualizadas<br>
                <small>diretamente no seu portal Conta Azul, além de integração de estoque</small>  
              </h1>

              <form id="newsform" class="news width half center d_block" novalidate>                     
                  <input type="email" id="newsReceiveEmail" name="newsReceiveEmail" class="newsletter" placeholder=" ENDEREÇO DE EMAIL "/>
                  <input type="submit" class="send-news" value="Mais informações"/>               
              </form>  

              <div class="panels">
                <img src="static/images/panel-1.png" alt="panel-1">
                <img src="static/images/panel-2.png" alt="panel-2">
                <img src="static/images/panel-3.png" alt="panel-3">
                <img src="static/images/panel-4.png" alt="panel-4">
              </div>   

          </div>    

      </div> 

    </section> 


    <div class="container">


      <section class="section-optimize">

        <div class="grid">

          <div class="grid__item half">

            <h2 class="heading">
              Otimize o seu tempo integrando <br>
              a sua plataforma de eCommerce <br>
              e ERP financeiro.
            </h2>

            <h3 class="heading"> Atualização de pedidos </h3>
            <p>Toda compra finalizada no seu eCommerce é enviada para o App Conta Azul automaticamente.</p>

            <h3 class="heading"> Integração de estoque </h3>
            <p>O seu estoque de produto na Vnda é atualizado assim que um pedido é faturado no seu App Conta Azul.</p>

            <h3 class="heading"> Mapeamento de dados </h3>
            <p>Caso o seu cadastro na Conta Azul possua alguma informação diferente do cadastro de produtos feito no eCommerce, temos um mapeamento de dados, não sendo necessário nenhum trabalho manual para correções.</p>
            
          </div>

          <div class="grid__item half"> <!-- background image --> </div>  

        </div> 

      </section> 


      <!-- <section style="margin-top: 30px">

        <div class="grid">

          <div class="grid__item half" style="height:620px">
            
          </div>

          <div class="grid__item half" style="height:620px">
            
          </div>  

        </div> 

      </section>  -->


      <section class="section_thumbs">

        <div class="grid">

          <div class="grid__item forth thumb">
            <img src="static/images/send.png" class="center d_block" alt="send">
            <p>Melhore a eficiência do seu trabalho diário no acompanhamento financeiro da sua loja.</p>            
          </div>

          <div class="grid__item forth thumb">
            <img src="static/images/links.png" class="center d_block" alt="links">
            <p>Suas vendas automaticamente enviadas para o App Conta Azul.</p>            
          </div>

          <div class="grid__item forth thumb">
            <img src="static/images/notes.png" class="center d_block" alt="notes">
            <p>Integre seu estoque com o seu ERP e não se preocupe com possíveis divergências.</p>            
          </div>

          <div class="grid__item forth thumb">
            <img src="static/images/layers.png" class="center d_block" alt="layers">
            <p>Mapeie qualquer diferença de cadastro entre o app Conta Azul e admin Vnda.</p>            
          </div>          

        </div> 

      </section> 

    </div>


      <section class="section-articles">

        <div class="container">

          <div class="grid">

            <div class="grid__item half">

               <h2 class="heading">  Artigos para você entender mais: </h2>

              <div class="article-card">
                
              </div>
              
            </div>

            <div class="grid__item half">
              
            </div>  

          </div> 

        </div>

      </section>



      <div class="container">

        <section class="section-faq">

          <div class="grid">

            <div class="grid__item">

              <h2 class="heading">Perguntas frequentes:</h2>

              <h3 class="heading"> Quais funções da integração com o Conta Azul?</h3>
              <p>Integrando o seu ERP financeiro Conta Azul com a Vnda você terá seus pedidos e estoque integrados entre as duas ferramentas, otimizando seu tempo e tendo seus controles sempre atualizados.</p>

              <h3 class="heading"> Não possuo controle estoque de produtos no Conta Azul, isso irá interferir no estoque cadastrado na Vnda?</h3>
              <p>Você pode optar por não integrar a automatização de estoque. Uma vez que a informação de quantidade de produtos estocados vem da Conta Azul, é muito importante garantir que seu estoque na CA esteja atualizado ou desativar essa automatização.</p>

              <h3 class="heading"> A referência dos meus produtos cadastrados no Conta Azul é diferente da que cadastrei na Vnda, preciso ajustar para integrar?</h3>
              <p>A Vnda possui mapeamento dos seguintes dados: meio de pagamento, tipo de entrega, produto, ransportadora. Sendo assim alinhados esses dados entre as duas plataformas para você não ter que fazer ajustes manuais.</p> 

              <h3 class="heading"> É cobrado algum valor adicional para realizar a integração?</h3>
              <p>Não! A integração é gratuita e realizada pelo atendimento Vnda. Basta enviar e-mail para ajuda@vnda.com.br e seguiremos com os procedimentos necessários para ter suas ferramentas integradas.</p>
              
            </div>

          </div> 

        </section>

      </div>   

    </div>

 

</template>