
body {	
	background: $clr-white;	
	color: $clr-grafiti-char;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	/* needed when used fixed header
	or menu, remove this if not use fixed class*/
	padding-top: 0; 
}

a {	
	color: $clr-white;

	&:hover {
		color: $clr-white;
	}	

	&:focus {
		color: $clr-white;
	}	
}

hr {   
    border-top: 1px solid $clr-teal-light;    
}

header {

		position: relative;
    z-index: 3;

	> .content {
		position: relative;
		max-width: 82rem;
		min-height: 100%; /* moved from .container */
		margin: 0 auto;
		padding: 0;	
	}

	&.header{
		position: fixed;
    width: 100%;
    z-index: 3;
    background: $clr-white;
		color: $clr-grafiti-char;
		/*padding: 1.1em 0 .4em 0;*/
		padding: 0;
		height: 68px;
	}

}

footer {

	.heading {

		&--single {
			padding-bottom: 0;
			padding-left: 0;
		}
	} 

	.list-wrap {
		padding-bottom: 50px;
	}

	.list {

		margin: 0;

		li {
			padding-left: 0;
		}

		&.inline li i{		
			font-size: 40px;
		}

	}

	.description {	

		padding: 15px 0 15px 0 !important;

		p:nth-child(1){
			font-size: 1em;	
			font-weight: normal;	
		}
		
	}

	.content{
		position: relative;
		max-width: 82rem;
		min-height: 100%; /* moved from .container */
		margin: 0 auto;
		padding: 0 15px;	
		padding-bottom: 40px;
	}

	input.newsletter {
		width: 84%;
	}

}

input, textarea, select {
    background-color: $clr-white !important;    
    color: $clr-grafiti-char !important;   
    border: 1px solid $clr-teal-light;  
	padding: 10px;
    margin: 15px 0; 
}

label {
	padding: 7px;   
    font-size: .8rem;
}

hr {    
    height: 0;
    display: block;   
    border-left: 0;    
    margin: 2em 0;
    padding: 0;
}

.content {
	padding-top: 40px;
	padding-bottom: 0;
}

.grid {

	&__item {

		> p {
			line-height: 1.65;
			margin: 0;
		}

	}

}

.form-rows {    

	.grid__item:last-child {		
    	margin-top: 30px;
	}

	.card {
		background: $clr-teal-light;		
		min-height: 714px;	
	}

	.card.card__height--auto {
		min-height: 200px !important;
	}
	
	input[type=checkbox], input[type=radio]{		
	    border: 2px solid $clr-dark-alpha;	      
	}

	input {

		&:checked ~ .checkmark {
		  	background-color: $clr-dark-alpha;
		}

		&:checked ~ .radiomark {
		  	background-color: $clr-dark-alpha;
		}	

		&:invalid {
		  	/*outline: 2px solid red;*/
			border-color: red;
		  	background-color: $clr-teal-light;
		}

		&:focus:invalid {
		  	color: red;
		}

		&:not(:focus):invalid {
			border-color: red;
		  	/*outline: 2px solid red;*/
		}

		&:focus:invalid {
			border-color: red;
		  	/*outline: 2px solid blue;*/
		}

		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color:  $clr-dark-alpha;
		    opacity: .7;  
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color:  $clr-dark-alpha;
			 opacity: .7;  
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		    color:  $clr-dark-alpha;
			 opacity: .7;  
		}	

	}

	select, input[type=date]:empty {
		color:  $clr-dark-alpha;
		opacity: .7; 
	}	

	input[type=date]:focus  {		
		opacity: 1; 
	}	

	span {	

		&.error {		  	
			font-size: 12px;
			/*color: $clr-dark-alpha;*/
			color: red;
			font-style: italic;
		}		

	}	

}

.nav {

	a {	

		font-weight: 300;
		color: $clr-grafiti-char;

		&:hover {
			color: $clr-grafiti-char;			
		}

		&:focus {
			color: $clr-grafiti-char;			
		}

		&:active {
			color: $clr-grafiti-char;
		}	
	}
		
}


.dev {
	position: relative;
	display: block;
	background: #000;
	width: 100%;
	height: 200px;
}

section {

	padding: 28px 0;
	height: 100%;

	.grid{
		height: 100%;

		.grid__item {
			height: 100%;
		}
	}

	&.section-top {		

		height: 570px;

		.grid__item:nth-child(1){
			width: 53.5%;			
			background: $clr-light-gray;
		}

		.grid__item:nth-child(2){
			width: 46.5%;			
			background: url(../images/banner-top.png);
    	background-size: auto 125%;
    	background-position: top center;
		}
	}

	&.section-optimize {		

		height: 630px;	

		.grid__item:nth-child(1){
			width: 68%;			
			background: $clr-light-gray;
		}

		.grid__item:nth-child(2){
			width: 32%;			
			background: url(../images/notebook.png);
    	background-size: auto 125%;
    	background-position: top center;
		}
	}

}

@media screen and (max-width: 60em) {
	.content {
	    padding-top: 0;
	    padding-bottom: 80px;
	}	
}

