
/* base */
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

html, body {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	height: auto;
}

a, button {

	outline: none;	
	text-decoration: none;

	&:hover {		
		outline: none;	
		text-decoration: none;
	}

	&:focus {
		outline: none;
		text-decoration: none;
	}
}

input, textarea, select {    
    background-image: none !important;    
    outline: none; 
}

input[type=checkbox],
input[type=radio] {
	appearance: none !important;
	-webkit-appearance: none !important;    
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
}

button {
  background-color: transparent;
  border-radius: none;
  text-decoration: none;
  outline: 0;
}

label {}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;  
}

ul {

	list-style: none;
	padding: 0;
	margin: 0;		

	&.inline li {		
		float: left;
	    display: inline-block;
	}
}

main{
	position: relative;
	z-index: 1;
	height: auto;
}