<template id="header-base-menu">	

	<div class="overlay"></div>
	<div class="content-menu"></div>
	
	<header class="header bkg-teal clr-white fixed">
		<div class="content grid grid--spread">
			<a href="home" class="logo">
				<i class="fa fa-umbrella"></i><span>Codrops Base</span>
			</a>
			<nav class="nav">
				<a href="home">Home</a>
				<a href="about">About</a>
				<a href="grids">Grids</a>
				<a href="blank">Blank</a>
				<a href="contact">Contact</a>					
			</nav>
			<div class="button-menu">
		     	<span></span>
		     	<span></span>
		     	<span></span>
		    </div>
		</div>
	</header>

</template>	