<template>

	<header class="header"> 

		<div class="container full">

			<div class="grid align-items--center">

				<a href="#" class="logo">
						<img src="static/images/logo-vnda.png" alt="vnda">			
				</a>

				<nav class="nav auto-left">
					<ul>
						<li>
							<a href="#recursos">Recursos</a> 							
						</li> 
						<li>
							<a href="#artigos">Artigos</a> 							
						</li> 
						<li>
							<a href="#faq">FAQ</a> 							
						</li>
						<li>
							<a href="#info" class="button __header mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-more-info >Mais informações</a> 							
						</li>  
					</ul>						
				</nav>

				<nav id="menu">

					<ul>
						<li>
							<a href="#recursos">Recursos</a> 							
						</li> 
						<li>
							<a href="#artigos">Artigos</a> 							
						</li> 
						<li>
							<a href="#faq">FAQ</a> 							
						</li>
						<li>
							<a href="#info" class="button __header mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-more-info >Mais informações</a> 							
						</li>  
					</ul>		

				</nav>

				<div class="button-menu" href="#menu">
				     	<span></span>
				     	<span></span>
				     	<span></span>
				</div>
				
				<!-- sample with submenu -->
				<!-- <nav class="nav grid__self--start">
					<ul>
						<li class="has-submenu">
							<a href="home">HOME</a> 
							<div class="submenu">
								<ul>
									<li><a href="#">SUBMENU 1</a> </li>
									<li><a href="#">SUBMENU 2</a> </li>
									<li><a href="#">SUBMENU 3</a> </li>
									<li><a href="#">SUBMENU 4</a> </li>
									<li><a href="#">SUBMENU 5</a> </li>									
								</ul>
							</div>
						</li> 
					</ul>						
				</nav> -->

			</div>

		</div>

	</header>	

</template>